<div class="card">
  <div class="card-image" style="background-image: url(" + "{{.Get "image"}}" + ")"></div>
  <div class="card-content">

    <h1>"{{.Get "title"}}"</h1>
    <div class="subtitle">with <a href="https://www2.mpia-hd.mpg.de/home/ness/Welcome.html">Melissa Ness</a> and <a href="https://bedell.space">Megan Bedell</a></div>
    <p> Over time, stellar orbits are expected to become more non-circular and non-planar, described by their orbit's actions. Using two samples of stars with well-determined ages, we quantify the action-age relations and demonstrate a correlation. However, the spread on this relation is too large for actions to be used to infer stellar ages. </p>
    <div class="card-details">
      <div class="card-details-inner">
        <div class="read-more">
          <a class="button" href="https://arxiv.org/abs/1807.05986">arXiv</a>
        </div>
        <div class="options">
          <div class="journal-submit">
            <a href="">
              <i class="fa fa-book"></i>
              ApJ Submitted
            </a>
          </div>
          <div class="likes">
            <a href="https://www.gusbeane.com/actions-weak-age">
              <i class="fa fa-play"></i>
              Animated Figures
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
