<head>
  <link rel="stylesheet" href="/css/article.css">
</head>

<div class="card">
  <div class="card-image" style="background-image: url({{.Get "image"}})"></div>
  <div class="card-content">

    <h1>{{.Get "title"}}</h1>
    <div class="subtitle">with <a href="https://www2.mpia-hd.mpg.de/home/ness/Welcome.html">Melissa Ness</a> and <a href="https://bedell.space">Megan Bedell</a></div>
    <p>{{.Get "text"}} </p>
    <div class="card-details">
      <div class="card-details-inner">
        <div class="read-more">
          <a class="button" href="https://arxiv.org/abs/{{.Get "arXiv"}}">arXiv</a>
        </div>
        <div class="options">
          <div class="journal-submit">
            <a href="">
              <i class="fa fa-book"></i>
              ApJ Submitted
            </a>
          </div>
          <div class="likes">
            <a href="https://www.gusbeane.com/actions-weak-age">
              <i class="fa fa-play"></i>
              Animated Figures
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
